<div class="container p-4">
    {{!-- <div class="row">
        <div class="col-md-4 mx-auto"> --}}
    <div class="card">
        <div class="card-body">
            <h1>Formulario de Inscripcion MenTe</h1>
            <p> Este es el formulario de inscripción para ser la potencial ganadora de uno de las 50 becas asignados
                para el
                programa Mente en Acción (Mujeres en Ciencia y Tecnología). 
                <br>
                <b>Favor sólo llenar el formulario si se cumple
                con los siguientes requisitos:</b>
                <ul>
                    <li>
                        Mujer entre los 15 y 19 años de edad.
                    </li>
                    <li>
                        Disponibilidad para asistir a los talleres los sábados a partir del día de mes hasta el día de mes.
                    </li>
                    <li>
                        100 % comprometida y con ganas de aprender.
                    </li>
                </ul>
                Para poder graduarte del programa, en caso de ser seleccionada únicamente podrás faltar dos veces.
                * El plazo de inscripción cierra el día de mes.
                ¿ Querés ver cómo es el programa? Podés ver el video aquí:</p>
            <p align="center"><iframe src="https://player.vimeo.com/video/283809268" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <p align="center"><a href="https://vimeo.com/283809268">Mujeres en Tecnolog&iacute;a MenTe</a> from <a
                    href="https://vimeo.com/cetav">CETAV</a> on <a href="https://vimeo.com">Vimeo</a></p>
            <br>
            <form action="/registry/apply" method="POST">
                <div class="form-group">
                    <label for="ApplicantName">Nombre Completo<span class="required">*</span></label>
                    <input required title="Este campo es requerido" type="Text" class="form-control" id="ApplicantName"
                        placeholder="Nombre Completo" name="ApplicantName">
                </div>

                <div class="form-group">
                    <label for="ApplicantIdentification">Identificación<span class="required">*</span></label>
                    <input type="Text" class="form-control" id="ApplicantIdentification" placeholder="Numero de Cedula"
                        name="ApplicantIdentification" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantPhone">Teléfono<span class="required">*</span></label>
                    <input type="tel" class="form-control" id="ApplicantPhone" placeholder="Numero de Telefono"
                        name="ApplicantPhone" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantEmail">Correo electrónico:<span class="required">*</span></label>
                    <p>Verificar que es un correo activo y revisar la ortografía del mismo, debido a que es el medio de
                        comunicación que utilizaremos </p>
                    <input type="email" class="form-control" id="ApplicantEmail" placeholder="Email"
                        name="ApplicantEmail">
                </div>

                <div class="form-group">
                    <label for="ApplicantBirthDate">Fecha de nacimiento:<span class="required">*</span></label>
                    <input type="dt" class="form-control" id="ApplicantBirthDate" placeholder="dd/mm/aaaa"
                        name="ApplicantBirthDate" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantAge">Edad exacta (años y meses):<span class="required">*</span></label>
                    <input type="text" class="form-control" id="ApplicantAge" placeholder="dd/mm/aaaa"
                        name="ApplicantAge" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantProvince">Provincia:<span class="required">*</span></label>
                    <select name="ApplicantProvince" id="ApplicantProvince">
                        <option value="San José">San José</option>
                        <option value="Cartago">Cartago</option>
                        <option value="Guanacaste">Guanacaste</option>
                        <option value="Alajuela">Alajuela</option>
                        <option value="Puntarenas">Puntarenas</option>
                        <option value="Heredia">Heredia</option>
                        <option value="Limón">Limón</option>
                    </select>
                    {{! <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script>
							<script>
                                $(document).ready(function () {
                                    $("#enlaceajax").click(function (evento) {
                                        $.ajax({
                                            dataType: "json",
                                            url: "https://ubicaciones.paginasweb.cr/provincias.json",
                                            data: {},
                                            success: function (data) {
                                                var html = "<select>";
                                                for (key in data) {
                                                    html += "<option value='" + key + "'>" + data[key] + "</option>";
                                                }
                                                html += "</select";
                                                $('#destino').html(html);
                                            }
                                        });
                                    });
                                })
                            </script>}}
                </div>

                <div class="form-group">
                    <label for="ApplicantCanton">Cantón:<span class="required">*</span></label>
                    <input type="dt" class="form-control" id="ApplicantCanton" placeholder="dd/mm/aaaa"
                        name="ApplicantCanton" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantDistrict">Distrito:<span class="required">*</span></label>
                    <input type="dt" class="form-control" id="ApplicantDistrict" placeholder="dd/mm/aaaa"
                        name="ApplicantDistrict" required>
                </div>

                <div class="form-group">
                    <label for="Text">Ocupación actual<span class="required">*</span></label>
                    <select name="ApplicantOcupation" id="ApplicantOcupation" required>
                        <option value="Estudiante de colegio">Estudiante de colegio</option>
                        <option value="Estudiante de univesidad">Estudiante de univesidad</option>
                        <option value="Estoy Trabajando">Estoy Trabajando</option>
                        <option value="Ninguna">Ninguna</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="ApplicantOcupationPlace">Lugar de estudio o trabajo</label>
                    <p>Si eres estudiante indica el año en que entraste a la institución educativa (Universidad), o
                        grado actual (Colegio).
                        En caso de estar trabajando indicar el puesto actual</p>
                    <input type="Text" class="form-control" id="ApplicantOcupationPlace"
                        placeholder="Lugar de estudio o trabajo" name="ApplicantOcupationPlace">
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">Nivel de inglés<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantEnglishLevel" value="Básico">Básico</td>
                            <td><input type="radio" name="ApplicantEnglishLevel" value="Intermedio">Intermedio</td>
                            <td><input type="radio" name="ApplicantEnglishLevel" value="Avanzado">Avanzado</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <label for="ApplicantDevices">¿Con cuáles dispositivos electrónicos cóntas para conectarte a
                        las
                        sesiones?:<span class="required">*</span></label>
                    <select name="ApplicantDevices" id="ApplicantDevices">
                        <option value="Laptop">Laptop</option>
                        <option value="Escritorio">Escritorio</option>
                        <option value="Dispostivo movil">Dispostivo movil</option>
                    </select>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Tienes una conexión estable a internet?<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantConnection" value="Sí, tengo Wi-Fi en mi casa"> Sí,
                                tengo Wi-Fi en mi
                                casa</td>
                            <td><input type="radio" name="ApplicantConnection"
                                    value="Sí, tengo Wi-Fi de una persona conocida"> Sí, tengo Wi-Fi de una
                                persona conocida</td>
                            <td><input type="radio" name="ApplicantConnection" value="Sí, tengo datos móviles"> Sí,
                                tengo datos
                                móviles</td>
                            <td><input type="radio" name="ApplicantConnection" value="No"> No</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Tienes disponibilidad para conectarte a las sesiones de MenTe en
                                Acción?<span class="required">*</span></th>
                            <!---Se incluyen las fechas-->
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantAvailability" value="Sí"> Sí</td>
                            <td><input type="radio" name="ApplicantAvailability" value="No"> No</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <p>Cuentanos sobre ti:<span class="required">*</span></p>
                    <textarea rows=8 name="ApplicantAbout" required></textarea></p>
                </div>

                <div class="form-group">
                    <p>¿Cuáles son las carreras/especialidades que te llaman la atención?:<span
                            class="required">*</span></p>
                    <textarea rows=8 name="ApplicantAspiration" required></textarea>
                </div>

                <div class="form-group">
                    <p>¿Cuáles son tus intereses y pasatiempos?:<span class="required">*</span></p>
                    <textarea rows=8 name="ApplicantHobbies" required></textarea>
                </div>

                <div class="form-group">
                    <p>¿Por qué para vos esta beca es importante?:<span class="required">*</span></p>
                    <textarea rows=8 name="ApplicantDescription" required></textarea>
                </div>


                <div class="form-group">
                    <p>¿Qué es lo que esperas aprender en el programa?:<span class="required">*</span></p>
                    <textarea rows=8 name="ApplicantExpectation" required></textarea>

                </div>

                <div class="form-group">
                    <p>¿Comó a través de la ciencia y tecnología impatarías a la sociedad costarricense?:<span
                            class="required">*</span></p>
                    <textarea rows=8 name="ApplicantImpact" required></textarea>
                </div>

                <div class="form-group">
                    <p>¿Por qué querés ser una mujer en ciencia y tecnología?:<span class="required">*</span></p>
                    <textarea rows=8 name="ApplicantWomenInSTEM"></textarea>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Tienes alguna discapacidad?<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantCondition" value="Sí"> Sí</td>
                            <td><input type="radio" name="ApplicantCondition" value="No"> No</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <label for="Text">¿Cuál es tu discapacidad?</label>
                    <input type="Text" class="form-control" id="ApplicantConditionName" placeholder=" " name="ApplicantConditionName">
                </div>

                <div class="form-group">
                    <label for="Text">¿Necesitas algún tipo de asistencia especial?</label>
                    <input type="Text" class="form-control" id="ApplicantConditionAssistance" placeholder=" "
                        name="ApplicantConditionAssistance">
                </div>

                <div class="form-group">
                    <label for="Text">¿Comó te entraste del programa?<span class="required">*</span></label>
                    <select name="ApplicantMediaImpact" id="ApplicantMediaImpact" required>
                        <option value="Redes sociales de Ideas en Acción">Redes sociales de Ideas en Acción</option>
                        <option value="Periodico">Periodico</option>
                        <option value="Amistades">Amistades</option>
                        <option value="Parque la Libertad">Parque la Libertad</option>
                        <option value="Egresadas del programa">Egresadas del programa</option>
                    </select>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Has aplicado anteiormente?<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantTry" value="Sí"> Sí</td>
                            <td><input type="radio" name="ApplicantTry" value="No"> No</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Tenés apoyo de la beca Empleate?<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantEmpleateCondition" value="Sí"> Sí</td>
                            <td><input type="radio" name="ApplicantEmpleateCondition" value="No"> No</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Con cuál beca tenés apoyo?</th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantEmpleateConditionName" value="Avancemos por más">
                                Avancemos
                                por más</td>
                            <td><input type="radio" name="ApplicantEmpleateConditionName" value="Xmí (Por mí)"> Xmí (Por
                                mi)</td>
                            <td><input type="radio" name="ApplicantEmpleateConditionName" value="Empleate inclusivo">
                                Empleate
                                inclusivo</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Mi familia tiene posibilidad de financiar parte de mi participación
                                en el programa?<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantEconomicStatus"
                                    value="No, mi familia no tiene posibilidad de pagar, necesitaría la beca total de participación">
                                No, mi familia no tiene posibilidad de pagar, necesitaría la beca total de participación
                            </td>
                            <td><input type="radio" name="ApplicantEconomicStatus"
                                    value="Sí, con un aporte de 20,000 colones"> Sí, con un aporte de 20,000 colones
                            </td>
                            <td><input type="radio" name="ApplicantEconomicStatus"
                                    value="Sí, con un aporte de 50,000 colones"> Sí, con un aporte de 50,000 colones
                            </td>
                            <td><input type="radio" name="ApplicantEconomicStatus"
                                    value="Sí, con otro aporte, especificar en comentarios"> Sí, con otro aporte,
                                especificar en comentarios</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">¿Qué talla de blusa sos?<span class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantTshirt" value="XS">XS</td>
                            <td><input type="radio" name="ApplicantTshirt" value="S">S</td>
                            <td><input type="radio" name="ApplicantTshirt" value="M">M</td>
                            <td><input type="radio" name="ApplicantTshirt" value="L">L</td>
                            <td><input type="radio" name="ApplicantTshirt" value="XL">XL</td>
                            <td><input type="radio" name="ApplicantTshirt" value="XXL">XXL</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <table class="FormTable">
                        <tr>
                            <th rowspan="3">Si sos menor de edad ¿Ya pediste permiso de aplicar?<span
                                    class="required">*</span></th>
                        </tr>
                        <tr>
                            <td><input type="radio" name="ApplicantPermision" value="Sí"> Sí</td>
                            <td><input type="radio" name="ApplicantPermision" value="No"> No</td>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <label for="ApplicantParentName">Nombre Completo de papá/mamá o encargado/encargada
                        legal:<span class="required">*</span></label>
                    <input type="Text" class="form-control" id="ApplicantParentName" placeholder="Nombre Completo"
                        name="ApplicantParentName" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantParentPhone">Teléfono de papá/mamá o encargado/encargada legal:<span
                            class="required">*</span></label>
                    <input type="tel" class="form-control" id="ApplicantParentPhone" placeholder="Numero de Telefono"
                        name="ApplicantParentPhone" required>
                </div>

                <div class="form-group">
                    <label for="ApplicantParentEmail">Correo electrónico de papá/mamá o encargado/encargada
                        legal:<span class="required">*</span></label>
                    <p>Verificar que es un correo activo y revisar la ortografía del mismo, debido a que es el
                        medio de comunicación que utilizaremos </p>
                    <input type="email" class="form-control" id="ApplicantParentEmail" placeholder="Email"
                        name="ApplicantParentEmail">
                </div>

                <div class="form-group">
                    <p>Comentarios:</p>
                    <textarea rows=8 name="ApplicantComments"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-success">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    {{!-- </div>
    </div> --}}
</div>