/*General*/
body {
    background: #a992dd;
    font-family: 'Open Sans', sans-serif;
}

.index{
    width: 100vw;
    height: 100vh;
}

.masthead{
    color: rgb(70, 8, 185);
    min-height: 30rem;
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
    background: url('/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.card-body h1{
    text-align: center;
}


/* Vista de Aplicantes*/
.ListTitle {
    text-align: center;
}

.ApplicantName{
    color:rgb(97, 11, 177);
    text-transform: uppercase;
}

.ApplicantsTable {
    width: 100%;
    height: 100%;
    border-spacing: 0 15px;
}

.ApplicantsTable td{
    width:150px; 
    text-align:center; 
    /*border:1px solid black;*/ 
    padding:5px;
}

.GraduatedTable{
    width: 100%;
    height: 100%;
    border-spacing: 0 15px;
}

.GraduatedTable td{
    width:150px; 
    text-align:center; 
    padding:5px;
}

.ApplicantTable{
    width: 100%;
    height: 100%;
    border-spacing: 0 15px;
}


.ApplicantTable td{
    width:150px; 
    text-align:center; 
    border:1px solid black; 
    padding:5px;
}

.ApplicantTable th{
    width:150px; 
    text-align:center; 
    border:1px solid black; 
    padding:5px;
}


#ViewApplicants {
    width: 60px;
    height: 40px;
    text-align:center;
}

/*Formulario de aplicacion*/
.required {
    color: red;
}

.form-group{
    padding: 15px;
}

.form-group textarea{
    height:100%;
    width:60%;
    resize: none;
}

.FormTable{
    width: 100%;
    height: 100%;
}

.FormTable th{
    text-align: left;
    border: 1px solid rgb(185, 185, 185);
}

.FormTable td{
    text-align: center;
    border: 1px solid rgb(185, 185, 185);
}

/* FORMULARIO IRETACTIVO */
    main {
     margin-top: 4.5em; 
    }
    
    #section1 {
        height: 30em;
    }
    
    
    /* Multi-Step Form */
    * {
      box-sizing: border-box;
    }
    
    #regForm {
      background-color: #fff;
      margin: 100px auto;
      font-family: 'Open Sans';
      padding: 40px;
      width: 100%;
      min-width: 600px;
    }
    
    h1 {
      text-align: center;  
    }
    
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: 'Open Sans';
      border: 1px solid #aaaaaa;
    }
    
    /* Mark input boxes that get errors during validation: */
    input.invalid {
      background-color: #ffdddd;
    }
    
    /* Hide all steps by default: */
    .tab {
      display: none;
    }
    
    button {
      background-color: #4CAF50;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: 'Open Sans';
      cursor: pointer;
    }
    
    button:hover {
      opacity: 0.8;
    }
    
    #prevBtn {
      background-color: rgb(124, 124, 124);;
    }
    
    /* Step marker: Place in the form. */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;  
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
    
    .step.active {
      opacity: 1;
    }
    
    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #4CAF50;
    }

/* Password Validation */
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: rgb(255, 255, 255);
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

/*Media*/
@media (min-width: 992px)
{
    .masthead h1 {
        font-size: 5.5rem
    }
} /*Para hacer responsive el app*/